.skills-section {
  padding: 80px 60px;
  background-color: #1f1f2e;
  color: #fff;
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
  color:#7e74f1;
  margin-bottom: 10px;
  font-weight: 700;
}

.skills-tag {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 40px;
  font-weight: 500;
}

.skills-container {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skill-bar {
  text-align: left;
  --skill-level: 0%;
}

.skill-bar-label {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 6px;
}

.skill-bar-track {
  position: relative;
  background-color: #2c2c3e;
  border-radius: 10px;
  height: 18px;
  overflow: hidden;
}

.skill-bar-fill {
  background-color: cadetblue;
  height: 100%;
  width: 0;
  border-radius: 10px;
  /* animation: fillSkill 2s forwards ease-in-out; */
    transition: width 2s ease-in-out;
}

@keyframes fillSkill {
  from { width: 0; }
  to { width: var(--skill-level); }
}


.skill-bar-fill.animate {
  width: var(--skill-level);
}